@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./static/RobotoMono-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}